<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>	
	
	<view id="#inputform">
		<template>inputform/index.mst</template>
		<controller id="InputFormController">
			<usernameText>Username</usernameText>
			<videoidText>EUScreen Luce video id</videoidText>
		</controller>
	</view>
	
	<view id="#player">		
		<controller id="PlayerController">
			<template>player/index.mst</template>
			<javascript>player/VideoPlayerController.js</javascript>
		</controller>
	</view>
	
	<view id="#relevancefeedback">
		<template>relevancefeedback/index.mst</template>
		<controller id="RelevanceFeedbackController">
		</controller>
	</view>
	

</app>